*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style:none;
    padding: 5px 13px;
}

.nav-list li a{
   text-decoration: none;
   color: white;
}
 
.nav-list li a:hover{
    text-decoration: none;
    color: gray;
 }

 .rightNav{
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('new_york.jpg');
    background-size: cover;
    height: 1024px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}